[submodule "Packages/AULog"]
	path = Packages/AULog
	url = git@github.com:s1ntoneli/AULog.git
[submodule "Packages/Curosr"]
	path = Packages/Curosr
	url = git@github.com:s1ntoneli/Cursor.git
[submodule "Packages/OpenAI"]
	path = Packages/OpenAI
	url = git@github.com:s1ntoneli/OpenAI.git
[submodule "Packages/AppUpdater"]
	path = Packages/AppUpdater
	url = git@github.com:s1ntoneli/AppUpdater.git
